nav {
    display: flex;
    justify-content: space-between;
    background-color: blue;
}

menu {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

menu li {
    margin-right: 40px;
    cursor: pointer;
}

.main .cartes {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
}

.main .cartes .carte {
    margin: 40px;
    cursor: pointer;
}